*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    display: grid;
    width: 500px;
    height: 500px;
}

.gridEle{
    border: 1px solid black;
}

.nav{
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.nav #color{
    height: 70px;
    width: 160px;
    align-self: center;
}

button{
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    padding: 20px 35px;
}

.active{
    background-color: black;
    color: white;
}
.nav p{
    align-self: center;
}

